@model fightxweb.Models.Home.HomeIndexViewModel
@using fightxweb.Models.Home
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "FightX Store - Accessories";
}





<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Accessories</h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/kneepad.jpg" />

            <div class="caption">
                <h5>Kneepad</h5>
                <p>7 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Shock-Doctor-Gel-Max-Mouth-Guard-Black_800x.jpg" />

            <div class="caption">
                <h5>Mouthgaurd</h5>
                <p>10 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>




    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Male Box addidas 1.jpg" />

            <div class="caption">
                <h5>Addidas Boxing Gloves -Black</h5>
                <p>30 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>




    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Male Box addidas 4.jpg" />

            <div class="caption">
                <h5>Addidas Head Guard</h5>
                <p>35 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>




    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Male Box addidas 5.jpg" />

            <div class="caption">
                <h5>
                    Addidas Boxing Shoes
                </h5>
                <p>40 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>




    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Male mma 3.jpg" />

            <div class="caption">
                <h5>
                    MMA Gloves Adidas
                </h5>
                <p>25 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>




    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/TATAMI_FIGHTWEAR_0265_1024x1024_881371b1-e320-44d3-aa51-9a0a366ac903_608x416.jpg" />

            <div class="caption">
                <h5>Tatami fingers tape</h5>
                <p>10 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>





    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/b567fd8852415ec86d7bed3696a72f71_290x290.jpg" />

            <div class="caption">
                <h5>
                    head protector
                </h5>
                <p>20 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>






</div>