
@{
    ViewBag.Title = "FightX Store - Blog";
}





<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Add a gray background color with some padding */
        body {
            font-family: Arial;
            padding: 20px;
            background: #f1f1f1;
        }

        /* Header/Blog Title */
        .header {
            padding: 30px;
            font-size: 40px;
            text-align: center;
            background: white;
        }

        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {
            float: left;
            width: 75%;
        }

        /* Right column */
        .rightcolumn {
            float: left;
            width: 25%;
            padding-left: 20px;
        }

        /* Fake image */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Add a card effect for articles */
        .card {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            margin-top: 20px;
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

    </style>
</head>
<body>


    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>
                    A PARENT’S GUIDE TO BJJ FOR KIDS
                </h2>
                <h5>Jiujitsu, Jan 2, 2020</h5>
                    <img src="~/Images/jiu-jitsu-kids-bjj-bullyproof-martial-arts.jpg" style="width:840px;">
                <br /><br />
                    <p>
                        It’s no secret that jiu jitsu is one of the absolute best activities for a child’s development.

                    </p>
                    <p>Parents often ponder and ask themselves when is it safe to enroll their children in an activity such as Brazilian jiu-jitsu? Being a contact sport, the immediate threat would seem to be the physicality of the game, but there are other factors to consider.</p>
                <br />
                <p>In a recent interview given to Tatame Magazine (in Portuguese), black belt World and Pan American champion Yuri Simões mentioned that even though his father was a big fan of jiu-jitsu, he didn’t enroll him in a class until he was 9 years old, fearing that Yuri would lose interest too quickly in the sport if he was any younger. This is a valid point. When does a child have social maturity to start practicing martial arts, more specifically jiu-jitsu?</p>
                <br />
                <p>There is also the competition factor. In a martial art such as jiu-jitsu, competition is highly praised, and parents often live through their children’s success, forcing them to engage in the sporting arena at an early (and highly important) stage in their kid’s social development.</p>
                <br />
                <p>To answer “when should a child start practicing Brazilian jiu-jitsu/martial arts” and “when is it OK for a kid to start competing in jiu-jitsu” we contacted Hernani Caroço, an experienced psychologist, graduated from ISPA (Instituto Superior de Psicologia Aplicada) university in 2008, who has been working with underage children between the ages of 3 and 17 for many years. Mr. Caroço had the following statement:</p>
                <br />
                <p>“An activity of this kind can promote the child’s development, not only physically but also socially and emotionally. The control and management of aggressiveness are important assets in children with symptoms of depression and behavioral disturbances, and participating in jiu-jitsu classes in a balanced manner can help him/her cope and accept these more delicate emotions.</p>
            </div>
            <div class="card">
                <h2>5 Mental Strategies That Will Help You Stick To Your New Martial Art</h2>
                <h5>MMA, Jan 2, 2020</h5>
                <img src="~/Images/mental-martial-arts-1024x576.jpg" style="width:840px;">
                <br /><br />
                      <p>Congratulations! You’ve just made the best decision of your life. You’re on the way to a better, healthier, happier you – all thanks to the wonderful world of martial arts. Sure, it may have felt intimidating at first, but you’ve made it past the trial session and you’re ready to become the best version of yourself possible.</p>
                      <p>Also, it’s a brand new year, which is the best time to start deciding on your resolutions and figuring out how to stick to them. Problem is, setting goals and actually sticking to them is a whole other story. What may have seemed so conceivable and possible at the start could feel impossible. But don’t lose hope, it happens to the best of us! So now that you’re ready to start moving and changing up your life, we’ve gathered a few tips on how to make sticking your new routine a whole lot easier. Curious? Read on for five mental strategies to help you stick to your new martial art.</p>
                      <ol>
                          <li> Don’t expect that you’ll want to do martial arts every day – and that’s fine!</li><br />
                          <p>Even the greatest World Champions or athletes know that a rest day is important. Not only that, they know their physical and mental limits and have days or even weeks when they don’t feel like rolling or hitting pads. Our tip? On days that you feel especially unmotivated, it’s best to try to avoid judging yourself or thinking too much about your lack of motivation. Knowing and understanding this helps you understand that everyone has their off days instead of viewing it as a sign of weakness.</p>
                          <li>Set realistic goals for yourself</li><br />
                          <p>Nobody expects you to become a World Champion or a professional martial artist in a year. If that’s what ends up happening to you – great, but it’s better to be realistic than to set crazy, unattainable goals for yourself – especially if you’ve just started martial arts. Perhaps it’s doing the whole warm-up properly (instead of half-heartedly), or making an effort to attend at least three to four classes a week. Once you’ve fulfilled those goals, you can take it up a notch and think about competing or even being promoted to the next level. What’s important is that you give yourself a due date for your goals and train with your goals in mind. You’ll be surprised at how far this attitude will take you!  </p><br />
                          <li>Just show up</li><br />
                          <p>
                              For beginners, one of the toughest parts about setting a routine or starting a new martial art is actually getting to the gym. Instead of worrying about not being able to follow your instructor’s directions or not being able to survive the warm-up, or even how tired you’ll be after, think about how you’ll actually get to the gym. Think about what time you should wake up/leave work or even how much time it will take for you to make it to the class on time. Once you get to the gym, all your worries about warm-up or your professor’s instructions go out the window. You’ll feel great knowing that you showed up and made an effort to be there on time.
                          </p><br />
                          <li>Think long term</li><br />
                          <p>Although it’s great that you want to achieve your martial arts goals, getting there isn’t always so easy. You can expect a lot of hurdles along the way, which could be quite demotivating – especially if you’re a beginner. You put in hard work at training and feel bummed when someone, who looks physically weaker and smaller than you is able to beat you during a drill. In reality, doing well in drills, especially when you’re using brand new techniques as a beginner could take weeks or even months of hard, consistent work to perfect. For a beginner, this could make you feel really unmotivated. Instead of giving yourself such a hard time, think about the fact that learning martial arts takes time. BJJ black belts need 10 years of consistent training to get to where they are today. Muay Thai World Champions started as children in order for them to land that perfect right kick. Anytime you feel down about your results, remind yourself that everything takes time, especially when it comes to martial arts.</p><br />
                          <li>Don’t compare yourself with others (or at least try not to)</li><br />
                          <p>When you train martial arts, especially in the beginning, your ego will always try and convince you to compare yourself with others. Why did he get his first stripe already? Why did I get beaten in sparring when I’m so much more athletic?  But did you think about the fact that the other person was once new to martial arts and probably put in a lot of hard work to get to where he is today? Plus, there are other factors, including athleticism and others, that make up a person’s skill level in martial arts, that it’s never really productive to make assumptions. Instead of comparing yourself with others, focus on your own goals and results instead. Although it is easier said than done, you should know that you will never be satisfied if you continue to play the comparison game. By directing all our energy into accomplishing our goals, we’ll be so much more productive and successful!</p><br />
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <p>Remember, the only thing that stands between you and becoming successful in a new martial art is yourself. Remember the lessons you’ve learned above and embrace change. You can figure out the rest later, but until you’re willing to take action and make an effort to stick to your routine, nothing will happen. Be the best martial artist you can be and stay consistent! You’ll surely reap all the rewards in the end.</p>
                      </ol>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Us</h2>
                <img src="~/Images/logo.jpg">
                <br />
                <p>FightX is specialized in latest marshall arts news and a professional store to sell fightware</p>
            </div>

            <div class="card">
                <h3>Follow Us</h3>
                <a href="~/Home/index">FightX</a>
            </div>
        </div>
    </div>


</body>
