@model fightxweb.Models.Home.HomeIndexViewModel
@using fightxweb.Models.Home
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "FightX Store - All Brands";
}





<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>All Brands</h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:280px;width:100%"
                 src="~/Images/88-885717_tatami-fightwear-ltd-tatami-fightwear-logo-hd-png.jpg" />


        </div>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:280px;width:100%"
                 src="~/Images/adidas.jpg" />


        </div>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:280px;width:100%"
                 src="~/Images/Atama Logo.jpg" />


        </div>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:280px;width:100%"
                 src="~/Images/kingz.jpg" />


        </div>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:280px;width:100%"
                 src="~/Images/maeda_fbc5daea-a5e2-4875-b6b9-85d402ce4f25_1200x1200.jpg" />


        </div>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:280px;width:100%"
                 src="~/Images/venum.jpg" />


        </div>
    </div>










</div>