@model fightxweb.Models.Home.HomeIndexViewModel
@using fightxweb.Models.Home
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "FightX Store - Female Section";
}





<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Female Products</h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Female B2 ATAMA.jpg" />

            <div class="caption">
                <h5>Atama Jiujitsu Gi - Black</h5>
                <p>120 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Female C1 ATAMA.jpg" />

            <div class="caption">
                <h5>Atama Jiujitsu Gi - Pink</h5>
                <p>120 $</p>
                <p>Available</p>
            </div>
        </div>


    </div>



    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Female venumbox1.jpg" />

            <div class="caption">
                <h5>Venum Boxing Gloves - Pink</h5>
                <p>25 $</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>



    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/venum-0984-108-10oz-venum-0984-108-10oz-galery_image_1-bg_elite_black_white_1500_01_2__1_1.jpg" />

            <div class="caption">
                <h5>Venum Boxing Gloves - Black</h5>
                <p>25 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>




</div>