@model fightxweb.Models.Home.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "FightX Store";
}

    <div id="themeSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
            <li data-target="#themeSlider" data-slide-to="1"></li>
            <li data-target="#themeSlider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <div class="imgOverlay"></div>
                <img style="height: 420px; width:100%" src="../Images/jiujitsu.jpg">
                <div class="carousel-caption">
                    <h2>Jiu Jitsu</h2>
                    
                </div>
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img style="height: 420px; width:100%" src="../Images/mma.jpg">
                <div class="carousel-caption">
                    <h2>MMA</h2>
                   
                </div>
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img style="height: 420px; width:100%" src="../Images/boxing.jpg">
                <div class="carousel-caption">
                    <h2>Boxing</h2>

                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#themeSlider" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#themeSlider" data-slide="next">
            <span class="fa fa-chevron-right"></span>
        </a>

        
    </div>

<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>

<form method="post">
    <div class="olSearch fr">
        <input type="text" placeholder="Enter Keyword" name="search" class="inputComn houseText form-control" />
        <div class="searchIcon">
            <button type="button" class="searchBtn">
                <p>Search</p>
            </button>
        </div>
    </div>
</form>




<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Products <small>trends products</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive" title="Click to view product detail" style="cursor:pointer;height:160px;width:100%"
                     src="~/ProductImg/@item.productImage" />

                <div class="caption">
                    <h5>@item.productName</h5>
                    <p>@item.Price $</p>
                    
                        @if (item.Quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.productID}, FormMethod.Post))
                            { 
                            <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                            }
                            <p>Available</p>
                    }
                    else
                    {
                        <p>Not Available</p>

                    }
                        
                <div class="product-item-badge">
                    @if (item.isFeatured == true)
                    {
                        <p>New</p>
                    }
                    else
                    {
                        <p>Old</p>

                    }
                </div>
                    </div>
            </div>
        </div>
        
    }

</div>

<div class="container">
    @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["searchBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
</div>