@model fightxweb.Models.Home.HomeIndexViewModel
@using fightxweb.Models.Home
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "FightX Store - Sales";
}





<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Items on Sale</h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Images/Male A1 VENUM.jpg" />

            <div class="caption">
                <h5>Venum BJJ Gi - White</h5>
                <p>120 $</p>
                <p>Available</p>
            </div>
        </div>
    </div>






</div>